<html>
    <head>
        <title>INGRESO</title> <link rel="stylesheet" href="{{ url_for('static', filename='styles/estilos_INGRESO.css') }}">
    </head>
    <body>
        <div id="contenido_ingreso">
            <div id="exito_fracaso"></div>
            <h1>Ingreso de Datos</h1>
            <form id="Formulario_ingreso">
                <label for="Nombre_c">Nombre del cliente: </label>
                <input type="text" id="Nombre_c" placeholder="Nombre" required><br>
                <label for="Ape_c">Apellido del cliente:</label>
                <input type="text" id="Ape_c" placeholder="Apellido" required><br>
                <label for="Tel_c">Telefono del cliente: </label>
                <input type="text" id="Tel_c" placeholder="Telefono" required><br>
                <label for="Monto_c">Monto del pago: </label>
                <input type="text" id="Monto_c" placeholder="Monto" required><br>
                <label for="Pago">Es pago?</label>
                <input type="checkbox" id="Pago" name="Pago" value="Pago">
                <label for="Deuda">Es deuda?</label>
                <input type="checkbox" id="Deuda" name="Deuda" value="Deuda"><br>
                <input type="submit" value="Ingresar">
            </form>
            <a href="{{url_for('inicio')}}"><button>Volver</button></a>
        </div>
        <script src="{{ url_for('static', filename='js/Script_Ingreso.js') }}"></script>
    </body>
</html>